<section>
  <h1>Dashboard</h1>
  {{#if posts}}
  {{#each posts as |post|}}
  {{>post_preview}}
  {{/each}}
  {{else}}
  <p>There are no posts to view. Create a new post to see it in your dashboard.</p>
  {{/if}}
  <div class="form-group buttons">
    <button onClick="location.replace('/new-post')">New Post</button>
  </div>
</section>
