<section>
  <h1>New Post</h1>
  <form>
    <div class='form-group align-left'>
      <label for='post-title'>Title:</label>
      <input type='text' id='post-title' name='post-title' />
    </div>

    <div class='form-group align-left'>
      <label for='post-image'>Image Link:</label>
      <input type='text' id='post-image' name='post-image' />
    </div>

    <div class='form-group text-area'>
      <label for='post-body'>Write your post here:</label>
      <textarea name='post-body' id='post-body' cols='30' rows='10'></textarea>
    </div>

    <div class='form-group buttons'>
      <button id='submit-post' data-post-id='{{post.id}}'>Submit</button>
    </div>
  </form>

  <script src='/js/new-post.js'></script>
</section>